<!-- generatedQuote.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Quote</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search-author">Search Author</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Here are your quotes for the author - <%= author %> </h1>
        <ul>
            <li><p><%= quote1 %></p></li>
            <li> <p><%= quote2 %></p></li>
            <li><p><%= quote3 %></p></li>
        </ul>
        
    </div>
</body>
</html>

